.sectionTile {
    font-size: 48px;
    font-weight: 500;
    background: linear-gradient(180deg, #FFFFFF 35.06%, #CCCCCC 57.79%, #999999 80.52%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media screen and (max-width: 1700px) {
    .sectionTile {
        font-size: 44px;
    }
}

@media screen and (max-width: 1500px) {
    .sectionTile {
        font-size: 44px;
    }
}

@media screen and (max-width: 1000px) {
    .sectionTile {
        font-size: 38px;
    }
}

@media screen and (max-width: 750px) {
    .sectionTile {
        font-size: 34px;
    }
}

@media screen and (max-width: 550px) {
    .sectionTile {
        font-size: 28px;
    }
}

@media screen and (max-width: 350px) {
    .sectionTile {
        font-size: 24px;
    }
}
