.videoPlayerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.vdotitle h1{
    font-size: 48px;
    font-weight: 500;
    color: white;
    max-width: 360px;
}

.vdotitle h1 span {
    text-decoration-line: line-through;
    color: whitesmoke;
 }

 .vdotitle p{
    margin-bottom: 25px;
 }

 .videoContainer {
    margin: 50px 0;
 }

 /* .videoContainer .video{
    width: 1000px;
    height: 100%;
 } */