.cardContainer {
    color: white;
    margin: 3% 9%;
}

.cardWrapper {
    background-color: #101118;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 80px 0;
    gap: 10vw;
}

.cardLContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardLContainer h1 {
    font-size: 48px;
    font-weight: 500;

}

.cardLContainer p {
    line-height: 24px;
    font-weight: 400;
}

.cardBtnContainer button {
    width: max-content;
}

@media screen and (max-width: 1500px) {
    .cardWrapper {
        padding: 70px 0;
        gap: 10vw;
    }

    .cardLContainer {
        gap: 12px;
    }

    .cardLContainer h1 {
        font-size: 44px;

    }

    .cardLContainer p {
        line-height: 22px;
    }
}

@media screen and (max-width: 1300px) {
    .cardWrapper {
        padding: 60px 0;
        gap: 9vw;
    }

    .cardLContainer {
        gap: 10px;
    }

    .cardLContainer h1 {
        font-size: 40px;

    }

    .cardLContainer p {
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .cardWrapper {
        padding: 50px 0;
        gap: 8vw;
    }

    .cardLContainer {
        gap: 8px;
    }

    .cardLContainer h1 {
        font-size: 36px;

    }

    .cardLContainer p {
        line-height: 18px;
    }
}


@media screen and (max-width: 850px) {
    .cardWrapper {
        padding: 30px 20px;
        flex-direction: column;
        text-align: center;
        gap: 3vw;
    }

    .cardLContainer {
        gap: 6px;
    }

    .cardLContainer h1 {
        font-size: 32px;
    }

    .cardLContainer p {
        line-height: 16px;
    }
}

@media screen and (max-width: 550px) {
    .cardWrapper {
        padding: 25px 15px;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .cardLContainer {
        gap: 6px;
    }

    .cardLContainer h1 {
        font-size: 24px;
    }
}